In [46]:
kc_house_data <- read.csv('/Users/mohitjain/Desktop/kc_house_data.csv')

In [47]:
nrow(kc_house_data)

[1] 21613

In [48]:
head(kc_house_data)

  id         date            price   bedrooms bathrooms sqft_living sqft_lot
1 7129300520 20141013T000000  221900 3        1.00      1180          5650
2 6414100192 20141209T000000  538000 3        2.25      2570          7242
3 5631500400 20150225T000000  180000 2        1.00       770         10000
4 2487200875 20141209T000000  604000 4        3.00      1960          5000
5 1954400510 20150218T000000  510000 3        2.00      1680          8080
6 7237550310 20140512T000000 1225000 4        4.50      5420        101930
  floors waterfront view ⋯ grade sqft_above sqft_basement yr_built yr_renovated
1 1      0          0    ⋯  7    1180          0          1955        0
2 2      0          0    ⋯  7    2170        400          1951     1991
3 1      0          0    ⋯  6     770          0          1933        0
4 1      0          0    ⋯  7    1050        910          1965        0
5 1      0          0    ⋯  8    1680          0          1987        0
6 1      0          0    ⋯ 11    3890       1530          2001        0
  zipcode lat     long     sqft_living15 sqft_lot15
1 98178   47.5112 -122.257 1340            5650
2 98125   47.7210 -122.319 1690            7639
3 98028   47.7379 -122.233 2720            8062
4 98136   47.5208 -122.393 1360            5000
5 98074   47.6168 -122.045 1800            7503
6 98053   47.6561 -122.005 4760          101930

In [49]:
str(kc_house_data)

'data.frame':	21613 obs. of  21 variables:
 $ id           : num  7.13e+09 6.41e+09 5.63e+09 2.49e+09 1.95e+09 ...
 $ date         : chr  "20141013T000000" "20141209T000000" "20150225T000000" "20141209T000000" ...
 $ price        : num  221900 538000 180000 604000 510000 ...
 $ bedrooms     : int  3 3 2 4 3 4 3 3 3 3 ...
 $ bathrooms    : num  1 2.25 1 3 2 4.5 2.25 1.5 1 2.5 ...
 $ sqft_living  : int  1180 2570 770 1960 1680 5420 1715 1060 1780 1890 ...
 $ sqft_lot     : int  5650 7242 10000 5000 8080 101930 6819 9711 7470 6560 ...
 $ floors       : num  1 2 1 1 1 1 2 1 1 2 ...
 $ waterfront   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ view         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ condition    : int  3 3 3 5 3 3 3 3 3 3 ...
 $ grade        : int  7 7 6 7 8 11 7 7 7 7 ...
 $ sqft_above   : int  1180 2170 770 1050 1680 3890 1715 1060 1050 1890 ...
 $ sqft_basement: int  0 400 0 910 0 1530 0 0 730 0 ...
 $ yr_built     : int  1955 1951 1933 1965 1987 2001 1995 1963 1960 2003 ...
 $ yr_renovated : int  0 1991 0 0 0 0 0 0 0 0 ...
 $ zipcode      : int  98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 ...
 $ lat          : num  47.5 47.7 47.7 47.5 47.6 ...
 $ long         : num  -122 -122 -122 -122 -122 ...
 $ sqft_living15: int  1340 1690 2720 1360 1800 4760 2238 1650 1780 2390 ...
 $ sqft_lot15   : int  5650 7639 8062 5000 7503 101930 6819 9711 8113 7570 ...

In [50]:
kc_house_data$date = as.Date(kc_house_data$date,"%Y%m%dT000000")
kc_house_data$grade = as.numeric(kc_house_data$grade)

In [51]:
head(kc_house_data)

  id         date       price   bedrooms bathrooms sqft_living sqft_lot floors
1 7129300520 2014-10-13  221900 3        1.00      1180          5650   1
2 6414100192 2014-12-09  538000 3        2.25      2570          7242   2
3 5631500400 2015-02-25  180000 2        1.00       770         10000   1
4 2487200875 2014-12-09  604000 4        3.00      1960          5000   1
5 1954400510 2015-02-18  510000 3        2.00      1680          8080   1
6 7237550310 2014-05-12 1225000 4        4.50      5420        101930   1
  waterfront view ⋯ grade sqft_above sqft_basement yr_built yr_renovated
1 0          0    ⋯  7    1180          0          1955        0
2 0          0    ⋯  7    2170        400          1951     1991
3 0          0    ⋯  6     770          0          1933        0
4 0          0    ⋯  7    1050        910          1965        0
5 0          0    ⋯  8    1680          0          1987        0
6 0          0    ⋯ 11    3890       1530          2001        0
  zipcode lat     long     sqft_living15 sqft_lot15
1 98178   47.5112 -122.257 1340            5650
2 98125   47.7210 -122.319 1690            7639
3 98028   47.7379 -122.233 2720            8062
4 98136   47.5208 -122.393 1360            5000
5 98074   47.6168 -122.045 1800            7503
6 98053   47.6561 -122.005 4760          101930

In [52]:
sum(is.na(kc_house_data))

[1] 0

In [53]:
kc_house_data <- subset(kc_house_data, select = -c(id, date, sqft_above, sqft_basement))

In [54]:
head(kc_house_data)

  price   bedrooms bathrooms sqft_living sqft_lot floors waterfront view
1  221900 3        1.00      1180          5650   1      0          0
2  538000 3        2.25      2570          7242   2      0          0
3  180000 2        1.00       770         10000   1      0          0
4  604000 4        3.00      1960          5000   1      0          0
5  510000 3        2.00      1680          8080   1      0          0
6 1225000 4        4.50      5420        101930   1      0          0
  condition grade yr_built yr_renovated zipcode lat     long     sqft_living15
1 3          7    1955        0         98178   47.5112 -122.257 1340
2 3          7    1951     1991         98125   47.7210 -122.319 1690
3 3          6    1933        0         98028   47.7379 -122.233 2720
4 5          7    1965        0         98136   47.5208 -122.393 1360
5 3          8    1987        0         98074   47.6168 -122.045 1800
6 3         11    2001        0         98053   47.6561 -122.005 4760
  sqft_lot15
1   5650
2   7639
3   8062
4   5000
5   7503
6 101930

In [55]:
kc_house_data <- filter(kc_house_data, kc_house_data$bedrooms > 1 && kc_house_data$bedrooms <= 6)

Warning message in kc_house_data$bedrooms > 1 && kc_house_data$bedrooms <= 6:
“'length(x) = 21613 > 1' in coercion to 'logical(1)'”
Warning message in kc_house_data$bedrooms > 1 && kc_house_data$bedrooms <= 6:
“'length(x) = 21613 > 1' in coercion to 'logical(1)'”

In [56]:
head(kc_house_data)

     [,1]    [,2] [,3] [,4] [,5]   [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
[1,]  221900 3    1.00 1180   5650 1    0    0    3     7    1955     0  98178
[2,]  538000 3    2.25 2570   7242 2    0    0    3     7    1951  1991  98125
[3,]  180000 2    1.00  770  10000 1    0    0    3     6    1933     0  98028
[4,]  604000 4    3.00 1960   5000 1    0    0    5     7    1965     0  98136
[5,]  510000 3    2.00 1680   8080 1    0    0    3     8    1987     0  98074
[6,] 1225000 4    4.50 5420 101930 1    0    0    3    11    2001     0  98053
     [,14]   [,15]    [,16] [,17]
[1,] 47.5112 -122.257 1340    5650
[2,] 47.7210 -122.319 1690    7639
[3,] 47.7379 -122.233 2720    8062
[4,] 47.5208 -122.393 1360    5000
[5,] 47.6168 -122.045 1800    7503
[6,] 47.6561 -122.005 4760  101930

In [57]:
histogram <- function(x)
{
    title <- paste(deparse(substitute(x), 500), collapse="\n")
    sdx <- sd(x)
    mx <- mean(x)
    hist(x, prob=TRUE, main=paste("Histogram of ",title), xlim=c(mx-3*sdx, mx+3*sdx), ylim=c(0, 0.5/sdx))
    curve(dnorm(x, mean=mx, sd=sdx), col='red', lwd=3, add=TRUE)
}

In [58]:
par(mfrow = c(3,2))
histogram(kc_house_data$condition)
histogram(kc_house_data$price)
histogram(kc_house_data$sqft_living)
histogram(kc_house_data$bedrooms)
histogram(kc_house_data$bathrooms)
histogram(kc_house_data$grade)
histogram(kc_house_data$yr_built)
histogram(kc_house_data$floors)
boxplot(x = kc_house_data$waterfront)

ERROR: Error in kc_house_data$condition: $ operator is invalid for atomic vectors

In [32]:
plot(kc_house_data$long, kc_house_data$lat, pch=19)

ERROR: Error in kc_house_data$long: $ operator is invalid for atomic vectors

In [33]:
summary(kc_house_data)

       V1                V2               V3              V4
 Min.   :  75000   Min.   : 0.000   Min.   :0.000   Min.   :  290
 1st Qu.: 321950   1st Qu.: 3.000   1st Qu.:1.750   1st Qu.: 1427
 Median : 450000   Median : 3.000   Median :2.250   Median : 1910
 Mean   : 540088   Mean   : 3.371   Mean   :2.115   Mean   : 2080
 3rd Qu.: 645000   3rd Qu.: 4.000   3rd Qu.:2.500   3rd Qu.: 2550
 Max.   :7700000   Max.   :33.000   Max.   :8.000   Max.   :13540
       V5                V6              V7                 V8
 Min.   :    520   Min.   :1.000   Min.   :0.000000   Min.   :0.0000
 1st Qu.:   5040   1st Qu.:1.000   1st Qu.:0.000000   1st Qu.:0.0000
 Median :   7618   Median :1.500   Median :0.000000   Median :0.0000
 Mean   :  15107   Mean   :1.494   Mean   :0.007542   Mean   :0.2343
 3rd Qu.:  10688   3rd Qu.:2.000   3rd Qu.:0.000000   3rd Qu.:0.0000
 Max.   :1651359   Max.   :3.500   Max.   :1.000000   Max.   :4.0000
       V9             V10              V11            V12
 Min.   :1.000   Min.   : 1.000   Min.   :1900   Min.   :   0.0
 1st Qu.:3.000   1st Qu.: 7.000   1st Qu.:1951   1st Qu.:   0.0
 Median :3.000   Median : 7.000   Median :1975   Median :   0.0
 Mean   :3.409   Mean   : 7.657   Mean   :1971   Mean   :  84.4
 3rd Qu.:4.000   3rd Qu.: 8.000   3rd Qu.:1997   3rd Qu.:   0.0
 Max.   :5.000   Max.   :13.000   Max.   :2015   Max.   :2015.0
      V13             V14             V15              V16
 Min.   :98001   Min.   :47.16   Min.   :-122.5   Min.   : 399
 1st Qu.:98033   1st Qu.:47.47   1st Qu.:-122.3   1st Qu.:1490
 Median :98065   Median :47.57   Median :-122.2   Median :1840
 Mean   :98078   Mean   :47.56   Mean   :-122.2   Mean   :1987
 3rd Qu.:98118   3rd Qu.:47.68   3rd Qu.:-122.1   3rd Qu.:2360
 Max.   :98199   Max.   :47.78   Max.   :-121.3   Max.   :6210
      V17
 Min.   :   651
 1st Qu.:  5100
 Median :  7620
 Mean   : 12768
 3rd Qu.: 10083
 Max.   :871200

In [34]:
cor(kc_house_data[,2:4])

         Series 1  Series 2  Series 3
Series 1 1.0000000 0.5158836 0.5766707
Series 2 0.5158836 1.0000000 0.7546653
Series 3 0.5766707 0.7546653 1.0000000

In [36]:
Model <- lm( price ~ bedrooms + sqft_living + bathrooms + grade + yr_built + waterfront + condition + sqft_lot + lat + view + long + yr_renovated, data=kc_house_data)

ERROR: Error in eval(predvars, data, env): object 'price' not found

In [37]:
summary(Model)

ERROR: Error in summary(Model): object 'Model' not found

In [38]:
par(mfrow=c(2,2))
plot(Model)

ERROR: Error in plot(Model): object 'Model' not found

In [39]:
house.res <- rstandard(Model)

ERROR: Error in rstandard(Model): object 'Model' not found

In [40]:
round(house.res,2)

ERROR: Error in eval(expr, envir, enclos): object 'house.res' not found

In [41]:
mean(house.res)

ERROR: Error in mean(house.res): object 'house.res' not found

In [42]:
sd(house.res)

ERROR: Error in is.data.frame(x): object 'house.res' not found

In [43]:
par(mfrow=c(2,2))
histogram(house.res)
plot(house.res, pch=16, col='blue')
abline(0,0, lw=4, col='red')
qqnorm(house.res, pch = 16, ylab="Standardized Residuals", xlab="Normal Scores", main="Q-Q Plot of Standardised Residuals",col="blue")
qqline(house.res, col='red', lw=4)

ERROR: Error in is.data.frame(x): object 'house.res' not found

In [44]:
shapiro.test(house.res)

ERROR: Error in stopifnot(is.numeric(x)): object 'house.res' not found

In [45]:
Model$coefficients

ERROR: Error in eval(expr, envir, enclos): object 'Model' not found